 .partition>h1,
 .tit {
   position: relative;
   width: 250px;
   height: 45px;
   font-size: 28px;
   font-family: 'fzzzh';
   font-weight: normal;
   text-align: center;
   line-height: 45px;
   padding: 0 50px;
   margin: 0 auto;
   overflow: hidden;
   color: #222;
 }

 .partition>h1::before,
 .partition>h1::after,
 .tit::before,
 .tit::after {
   content: '';
   position: absolute;
   width: 50px;
   height: 3px;
   display: block;
   background: #222;
   top: 19px;
 }

 .partition>h1::before {
   left: 0px;
 }

 .partition>h1::after {
   right: 0px;
 }